# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradle-wrapper.properties

# IDE
.idea/
*.iml

# Logs
*.log

!./docker-compose-infra.yml
!./docker-compose-deploy.yml
!./docker-compose-build.yml

# properties
*.properties
*.yml
*.yaml
